source https://nuget.org/api/v2

nuget FAKE
nuget Suave
nuget FSharp.Data
nuget FSharp.Core
nuget FSharp.Compiler.Service
nuget DotLiquid
nuget FSharp.Formatting
nuget FSharpx.Extras
nuget Colourful
nuget Microsoft.TypeScript.Compiler
nuget angularjs
nuget Newtonsoft.Json
nuget Topshelf
nuget Topshelf.FSharp

github borisyankov/DefinitelyTyped angularjs/angular.d.ts
github borisyankov/DefinitelyTyped jquery/jquery.d.ts
